<!DOCTYPE html>
<html>
<head>
    <title>SGM Bombas SVE</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <h1>SGM Bombas SVE v1.nimiento de Bombas</p>
</header>

<div class="container">

    <div class="card">

        <h2>Menú Principal</h2>

        <p>
            /nuevo
                🛠 Registrar mantenimiento
            </a>
        </p>

        <p>
            /historial
                📋 Ver historial
            </a>
        </p>

        <p>
            /dashboard
                📊 Dashboard
            </a>
        </p>

    </div>

</div>

</body>
</html>
