<!DOCTYPE html>
<html>
<head>
    <title>Registrar mantenimiento</title>
</head>
<body>

<h1>Registrar mantenimiento</h1>

<form method="POST">

    <p>Fecha</p>
    <input type="date" name="fecha" required>

    <p>Bomba</p>
    <select name="bomba">
        <option>C1</option>
        <option>C2</option>
        <option>C3</option>
        <option>C4</option>
        <option>C5</option>
        <option>C6</option>
        <option>C7</option>
        <option>C8</option>
        <option>C9</option>
        <option>C10</option>
        <option>C11</option>
        <option>C12</option>
        <option>C13</option>
        <option>C14</option>
        <option>C15</option>
        <option>C16</option>
        <option>C17</option>
        <option>C18</option>
        <option>C19</option>
        <option>C20</option>
        <option>C21</option>
        <option>C22</option>
        <option>C23</option>
    </select>

    <p>Componente roto</p>
    <select name="componente">
        <option>Comando eléctrico</option>
        <option>Cable y enchufe</option>
        <option>Motor</option>
        <option>Turbina</option>
        <option>Cabezal</option>
        <option>Rulemán</option>
        <option>Estopada</option>
        <option>Pintado</option>
        <option>Ruedas</option>
    </select>

    <p>Responsable</p>
    <input type="text" name="responsable">

    <p>Costo</p>
    <input type="number" name="costo">

    <p>Observaciones</p>
    <textarea name="observacion"></textarea>

    <br><br>

    <button type="submit">
        Guardar mantenimiento
    </button>

</form>

</body>
</html>
